{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .Content)}}




{{ range .Pages.ByWeight }}

{{ $path3 :=  .Params.background }}
{{ $image := resources.Get $path3 }}


{{ $rand :=  now.UnixNano }}

<style>
  @media (min-width: 768px) {
    .bg{{ $rand }} {
      background-image: url('{{  $image.RelPermalink | relURL }}'), 
      linear-gradient(
        {{ if eq .Params.align "right" }}to right{{ else }}to left{{end}},
        rgb(255 255 255 / 10%),
        rgb(255 255 255 / 20%) 40%,
        rgb(255 255 255 / 80%) 50%,
        rgb(255 255 255 / 90%) 60%,
        rgb(255 255 255 / 90%) 90%,
        rgb(255 255 255 / 75%)
      ); 
    }
  } 
  @media (max-width: 768px) {
    .bg{{ $rand }} {
      background-image: url('{{  $image.RelPermalink | relURL }}'), 
      linear-gradient(
        to bottom,
        rgb(255 255 255 / 80%),
        rgb(255 255 255 / 60%),
        rgb(255 255 255 / 10%)
      ); 
    }
  } 
</style>

<div id={{ .Params.anchor }} class="strip bg-cover bg-position-top bg-overlay demo-wrap mt-1 mb-1 bg{{ $rand }}"   >


  <div class="container pt-8 pb-10 demo-content">
    <div class="row">
      <div class="col-12 col-md-6 {{ if eq .Params.align "right" }}offset-md-6{{ end }}" style="text-align: justify;">
        <h2 class="text-primary text-capitalize">{{ .Title }}</h2>
        {{ .Content }}
        {{ if .Params.button }}
          <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
        {{ end }}


      </div>
    </div>
  </div>
</div>
{{ end }}



<div id="home" class="strip bg-primary bg-cover bg-position-top bg-overlay" style='background-image: url("{{ .Params.background | relURL }}");'>
  <div class="container pt-8 pb-8 pb-md-12 pt-md-12">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center text-white">
        <h2>Site réalisé par le tiers-lieu La Raffinerie</h2>
        La Raffinerie est un tiers-lieu basé à Savanna, St Paul, île de La Réunion
        <br/><br/>
        <a class="button button-white" href="https://www.laraffinerie.re">La Raffinerie</a>
      </div>
    </div>
  </div>
</div>


{{ end }}

{{ define "footer_js" }}
{{ end }}
