.work-summary {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  .work-image {
    max-height: 300px;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .work-content {
    flex: 1;
    padding: 20px;
    border-bottom: 2px solid $primary;
    .work-title {
      font-family: $font-family-heading;
      font-size: 1.5rem;
    }
    p {
      color: #666;
      font-size: 0.9rem;
    }
  }
}
