<div id="hero" class="hero-image hero-image-setheight" style="background-image: url('{{ .background | relURL }}')">
  <div class="container ">
    <div class="hero-text">
      <span class="hero-section">{{ .section }}</span>
      <h2 class="text-primary text-capitalize">{{ .heading }}</h2>
      <h1>{{ .heading }}</h1>
      <p>{{ .subheading }}</p>
    </div>
  </div>
</div>
  