// Font
//@import url('https://fonts.googleapis.com/css?family=Lato:400|Open+Sans:400,700');


// Bootstrap
@import 'bootstrap/functions';
@import 'bootstrap-variables';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/grid';
@import 'bootstrap/type';
@import 'bootstrap/tables';
// @import "bootstrap/images";
// @import "bootstrap/code";
// @import "bootstrap/forms";
// @import "bootstrap/buttons";
// @import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
// @import "bootstrap/nav";
// @import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
 @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
// @import "bootstrap/print";
@import 'bootstrap/utilities';

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/reset';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/social';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/strip';
@import 'components/whitebox';
@import 'components/feature';
@import 'components/hero-image';
@import 'components/bg';

// Pages
@import 'pages/services/page-services-list';
@import 'pages/services/page-services-single';
@import 'pages/services/service-summary';
@import 'pages/work/work-summary';
@import 'pages/work/page-work-single';

// Display breakpoints for DEV
// body:after {
//   color: #000000;
//   font-size: 12px;
//   padding: 5px;
//   font-weight: bold;
//   right: 10px;
//   position: fixed;
//   text-align: center;
//   text-transform: uppercase;
//   bottom: 10px;
//   width: 200px;
//   z-index: 9999;
//   border: solid 1px #000000;
//   @each $name, $value in $grid-breakpoints {
//     @include media-breakpoint-up($name) {
//       content: "#{$name} - min-width: #{$value}";
//     }
//   }
// }


.demo-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.demo-wrap {
  overflow: hidden;
  position: relative;
}
.demo-content {
  position: relative;
}

.ressource {
border:1px solid #CCCCCC; 
//max-height: 100px;
text-overflow: ellipsis;
}
.ressource a:link { 
  color: black;
  text-decoration: none; 
}
.ressource a:visited { 
  color: black;
  text-decoration: none; 
}
.ressource a:hover { 
  color: rgb(240, 142, 108);
  text-decoration: underline; 
}

.ressource h5 {
  color: rgb(240, 142, 108);
  text-decoration: none; 
}

.ressource img {
  max-width: 150px; 
  width: 20%;
  height: 120px; 
  object-fit: cover;
  object-position: 50% 5%;
} 

.navbar-brand {
  font-family: "typewriter" !important; 

  display: inline-block;

  font-size: 20pt !important;
  line-height: inherit;
  //white-space: nowrap;
  text-wrap: balance;
  max-width: 80%; 

}

@media screen AND (max-width:1200px){
  .navbar-brand { 
    font-size: 16pt !important;
  }
}


a {
 // background-color: yellow;
  }

nav { margin: 0px 0px 0px; display: flex;}

.navbar-dark .navbar-nav .nav-link {
  font-family: 'typewriter' !important;
}

.dropdown-item {
  font-family: 'typewriter' !important;
}

.videoWrapper { position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0; } 
.videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }    

.hero-image-fullscreen {
  min-height: 100vh !important;
  height: auto;
}

