{{ define "header_css" }}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script defer data-domain="patrimoine.laraffinerie.re" src="https://vues.laraffinerie.re/js/pls.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nanogallery2@3.0.5/dist/css/nanogallery2.min.css">
<script src="https://cdn.jsdelivr.net/npm/nanogallery2@3.0.5/dist/jquery.nanogallery2.min.js"></script>
{{ end }}

<style>
  @font-face {
    font-family: typewriter;
    src: url("/JMH Typewriter.otf" );
  }
</style>

<div class='header '>
    <nav class="navbar navbar-expand-lg navbar-dark nav-fill w-100" style="background-color: #172983">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">{{ .Site.Title }}</a>

           
            {{ partial "main-menu.html" . }}
            {{ partial "hamburger.html" . }}
        </div>
      </nav>
      
</div>
