<div id="hero" class="hero-image hero-image-setheight" style="background-image: url('{{ .background | relURL }}'); background-position: center;">
  <div class="container ">
    <div class="hero-text">
      <span class="hero-section">{{ .section }}</span>
      <h1>{{ .heading }}</h1>
      <p>{{ .subheading }}</p>
    </div>
  </div>
</div>
  