<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            {{ if .Site.Data.contact.email }}
            <li><strong>Email: </strong><a href="mailto:patrimoine@laraffinerie.re">
              patrimoine@laraffinerie.re</a></li>
              {{ end }}
          </ul>
          <ul>
            <li class="zerostatic">Site statique "éco"-conçu avec HUGO</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>