<figure>
    <figcaption>Écouter l'audio :</figcaption>
    <audio style="width:100%" controls preload="metadata" src='{{ .Get "mp3" }}' type="audio/mp3"></audio>
    <a href='{{ .Get "podcast" }}'>Ou écouter sur notre plateforme de podcast</a>
</figure>