{{ $file := .Get "src" }}
{{ $thumb := replaceRE `(.+)(\.\w+)$` "${1}_thumb${2}" $file }}
{{ $thumb_fullpath := printf "%s/%s" "/static" $thumb }}
{{ if fileExists $thumb_fullpath }}
<a href="{{ $file }}" data-ngThumb="{{ $thumb }}">{{ .Get "title"  }}</a>
{{ else }}
<a href="{{ $file }}" data-ngThumb="{{ $file }}">{{ .Get "title" }}</a>
{{ end }}