<!-- layouts/shortcodes/peertube.html -->
<div class="videoWrapper">
    <div style="position: relative; padding-top: 56.25%;">
<iframe loading="lazy" width="100%" height="100%"  src="{{ .Get 0 }}" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" style="position: absolute; inset: 0px;"></iframe>
</div>
</div>