<!-- layouts/shortcodes/pixelfed.html -->

<iframe src="{{ .Get 0 }}/embed?caption=true&likes=true&layout=compact" class="pixelfed__embed" style="max-width: 100%; border: 0" width="400" height="400" allowfullscreen="allowfullscreen"></iframe><script async defer src="https://pixelfed.fr/embed.js"></script>
