{{ $page := .Get "page" }}
{{ $lien := .Get "lien" }}

{{ with .Site.GetPage $page }}
    <div class="ressource"><a href="{{ $lien }}#{{ .Params.anchor }}" >
        <div class="media">
            <img  class="align-self-center  mr-3" src="{{ .Params.background | relURL }}" alt="Generic placeholder image"  >
            <div class="media-body" >
                <h5 class="mt-0">{{ .Title }}</h5>
                {{ .Content | truncate 120 "..." | plainify }}
            </div>
        </div>
    </a></div>    
{{ end }}
<br>